::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-light;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 6px;
    border: 2px solid #f7f7f7;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-dark;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #ff6b6b #f7f7f7;
    }
}
