.tab {
    @apply transition duration-200 font-medium w-[180px] min-h-[50px];
}

.tab-primary {
    @apply text-white cursor-pointer;
}

.tab-primary:hover {
    @apply bg-primary-light;
}

.tab-primary.tab-selected {
    @apply hover:bg-primary;
    border-bottom: 2px solid #ff7f6b;
}

.tab-primary.tab-unselected {
    @apply text-neutral-dark/60 hover:bg-neutral;
    border-bottom: 2px solid rgb(247 247 247 / 0.4);
}

.tab-secondary {
    @apply text-white;
}

.tab-secondary:hover {
    @apply bg-secondary-light;
}

.tab-secondary.tab-selected {
    @apply hover:bg-secondary bg-secondary-light/20;
    border-bottom: 2px solid #4ecdc4;
}

.tab-secondary.tab-unselected {
    @apply text-neutral-dark/60 hover:bg-neutral;
    border-bottom: 2px solid rgb(247 247 247 / 0.8);
}

.tab-accent {
    @apply text-neutral-dark/60;
}

.tab-accent:hover {
    @apply bg-accent-light;
}

.tab-accent.tab-selected {
    @apply hover:bg-accent;
    border-bottom: 2px solid #ffdb6d;
}

.tab-accent.tab-unselected {
    @apply text-neutral-dark/60 hover:bg-neutral;
    border-bottom: 2px solid rgb(247 247 247 / 0.4);
}

.tab-small {
    @apply text-sm py-1 px-2;
}

.tab-medium {
    @apply text-base py-2 px-4;
}

.tab-large {
    @apply text-lg py-3 px-6;
}
