@import './components/buttons.css';
@import './components/links.css';
@import './components/inputs.css';
@import './components/forms.css';
@import './components/cards.css';

body {
    @apply font-sans text-neutral-dark;
    background-image: url('@root/assets/images/background.jpg');
    background-size: 450px 450px;
    background-repeat: repeat;
}

.app-container {
    @apply flex flex-col min-h-screen h-full;
}

.header {
    @apply bg-primary text-white w-full h-[56px] shadow-custom-light flex-all-center sticky top-0 left-0 right-0 z-10;
}

.footer {
    @apply bg-neutral-dark text-white w-full h-[56px] shadow-custom-dark flex-all-center fixed bottom-0 left-0 right-0 z-10;
    padding-bottom: env(safe-area-inset-bottom);
}

.main-content {
    @apply flex-grow p-4 overflow-y-auto;
    padding-bottom: calc(72px + env(safe-area-inset-bottom));
}

.container {
    @apply max-w-7xl h-full mx-auto;
}
