@import './components/buttons.css';
@import './components/links.css';
@import './components/inputs.css';
@import './components/forms.css';
@import './components/cards.css';

body {
    @apply font-sans text-neutral-dark;
    background-image: url('../images/background.jpg');
    background-size: 450px 450px;
    background-repeat: repeat;
}

.app-container {
    @apply flex flex-col min-h-screen;
}

.header {
    @apply bg-primary text-white p-4 w-full shadow-custom-light;
}

.main-content {
    @apply flex-grow p-4;
}

.footer {
    @apply bg-neutral-dark text-white p-4 w-full mt-auto shadow-custom-dark;
}

.container {
    @apply max-w-7xl px-4 mx-auto;
}
