/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* reset */
@import './reset.css';

/* custom styles */
@import './globals.css';
@import './utils.css';

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans text-neutral-dark;
    background-image: url('../images/background.jpg');
    background-size: 800px 800px;
    background-repeat: repeat;
}
